@import "materialize";

@import "compass/css3";

@import "compass/css3/transform";
@import url(https://fonts.googleapis.com/css?family=Bangers);
@import url(https://fonts.googleapis.com/css?family=Londrina+Sketch);

body {

 background-color: #ED6565;
}

.wrap {
  padding: 5em 0.5em;
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-weight: normal;
  color: #fff;
  text-transform: uppercase;
  font-size: 8em;
  white-space: nowrap;
  font-size: 12vw;
  z-index: 1000;
  font-family: 'Bangers', cursive;
  text-shadow: 5px 5px 0 rgb(250, 250, 250);
  @include skew(0, -6.7deg, false);
  @include transition-property(font-size);
  @include transition-duration(0.5s);

}
h2 {
  text-align: center;
  font-weight: normal;
  color: #fff;
  text-transform: uppercase;
  font-size: 4em;
  white-space: nowrap;
  font-size: 6vw;
  z-index: 1000;
  font-family: 'Bangers', cursive;
  text-shadow: 5px 5px 0 rgb(250, 250, 250);
  @include skew(0, -6.7deg, false);
  @include transition-property(font-size);
  @include transition-duration(0.5s);

}



@media screen and (max-width: 50em) {
  h1 {
    font-size: 20vw;
   }
   h2 {
     font-size:10vw;
   }
}



.container {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.container img {
  width: 100%;
  height: auto;
}

.container .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.container .btn:hover {
  background-color: black;
}


img:active {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake .5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}


.letter-change:hover{
     color: #68cacb;
     font-size: 210px;
     text-shadow: 5px 5px 0 rgb(250, 250, 250);
}

.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #1d88e5;
  border: none;
  border-radius: 10px;
  box-shadow: 0 5px #fff;
}

.button:hover {background-color:#68cacb}

.button:active {
  background-color: #0d47a1;
  box-shadow: 0 5px #fff;
  transform: translateY(4px);
}

.waves-effect.waves-light.btn.cyan.lighten-3{
  border-radius: 10px;
}

.waves-effect.waves-light.btn.light-blue.darken-1{
  border-radius: 10px;
}

.waves-effect.waves-light.btn.light-blue.darken-4{
   border-radius: 10px;
}

.waves-effect.waves-light.btn.orange.lighten-3{
  border-radius: 10px;
}

h3{
  font-family: 'Londrina Sketch', cursive;
}

#restart-button{
  padding: 6px 15px;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color:#1d88e5;
  border: none;
  border-radius: 10px;
  box-shadow: 0 5px #fff;
}

#restart-button:hover {background-color:#68cacb}

#start{
  display: inline-block;
  padding: 6px 15px;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #1d88e5;
  border: none;
  border-radius: 10px;
  box-shadow: 0 5px #fff;
}

.submit{
  display: inline-block;
  padding: 6px 15px;
  margin-top: 15px;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #1d88e5;
  border: none;
  border-radius: 10px;
  box-shadow: 0 5px #fff;

}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
